<script>
  $(document).ready(function(){
    $.getJSON("http://13.125.213.27/investing.json", function(data){
     var json_data = '';
          
      // 선물지수
      json_data += '<thead>';
      json_data += '<tr style="background-color:#F0F0F0">'
      json_data += '<th>종목</th>';
      json_data += '<th>월물</th>';
      json_data += '<th>현재가</th>';
      json_data += '<th>고가</th>';
      json_data += '<th>저가</th>';
      json_data += '<th>변동</th>';
      json_data += '<th>변동 %</th>';
      json_data += '<th>시간</th>';
      json_data += '</tr>'
      json_data += '</thead>';
      
      json_data += '<tbdoy>';
      $.each(data.dji, function(key, value){
        json_data += '<tr>'
        json_data += '<td>'+value.title+'</td>';
        json_data += '<td>'+value.date+'</td>';
        json_data += '<td>'+value.current+'</td>';
        json_data += '<td>'+value.high+'</td>';
        json_data += '<td>'+value.low+'</td>';
        if(value.variance.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance+'</td>';              
        }
        else if(value.variance.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance+'</td>';
        }
        else {
          json_data += '<td>'+value.variance+'</td>';
        }
        if(value.variance_per.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance_per+'</td>';              
        }
        else if(value.variance_per.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance_per+'</td>';
        }
        else {
          json_data += '<td>'+value.variance_per+'</td>';
        }
        json_data += '<td>'+value.hours+'</td>';
        json_data += '</tr>';
      });
      json_data += '</tbdoy>';
      
      json_data += '<tbdoy>';
      $.each(data.sp500, function(key, value){
        json_data += '<tr>'
        json_data += '<td>'+value.title+'</td>';
        json_data += '<td>'+value.date+'</td>';
        json_data += '<td>'+value.current+'</td>';
        json_data += '<td>'+value.high+'</td>';
        json_data += '<td>'+value.low+'</td>';
        if(value.variance.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance+'</td>';              
        }
        else if(value.variance.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance+'</td>';
        }
        else {
          json_data += '<td>'+value.variance+'</td>';
        }
        if(value.variance_per.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance_per+'</td>';              
        }
        else if(value.variance_per.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance_per+'</td>';
        }
        else {
          json_data += '<td>'+value.variance_per+'</td>';
        }
        json_data += '<td>'+value.hours+'</td>';
        json_data += '</tr>';
      });
      json_data += '</tbdoy>';
      
      json_data += '<tbdoy>';
      $.each(data.nasdaq, function(key, value){
        json_data += '<tr>'
        json_data += '<td>'+value.title+'</td>';
        json_data += '<td>'+value.date+'</td>';
        json_data += '<td>'+value.current+'</td>';
        json_data += '<td>'+value.high+'</td>';
        json_data += '<td>'+value.low+'</td>';
        if(value.variance.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance+'</td>';              
        }
        else if(value.variance.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance+'</td>';
        }
        else {
          json_data += '<td>'+value.variance+'</td>';
        }
        if(value.variance_per.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance_per+'</td>';              
        }
        else if(value.variance_per.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance_per+'</td>';
        }
        else {
          json_data += '<td>'+value.variance_per+'</td>';
        }
        json_data += '<td>'+value.hours+'</td>';
        json_data += '</tr>';
      });
      json_data += '</tbdoy>';
      
      // 세계주요지수
      json_data += '<thead>';
      json_data += '<tr style="background-color:#F0F0F0">'
      json_data += '<th>지수</th>';
      json_data += '<th>-</th>';
      json_data += '<th>현재가</th>';
      json_data += '<th>고가</th>';
      json_data += '<th>저가</th>';
      json_data += '<th>변동</th>';
      json_data += '<th>변동 %</th>';
      json_data += '<th>시간</th>';
      json_data += '</tr>'
      json_data += '</thead>';
      
      json_data += '<tbdoy>';
      $.each(data.nikkei, function(key, value){
        json_data += '<tr>'
        json_data += '<td>'+value.title+'</td>';
        json_data += '<td>-</td>';
        json_data += '<td>'+value.current+'</td>';
        json_data += '<td>'+value.high+'</td>';
        json_data += '<td>'+value.low+'</td>';
        if(value.variance.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance+'</td>';              
        }
        else if(value.variance.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance+'</td>';
        }
        else {
          json_data += '<td>'+value.variance+'</td>';
        }
        if(value.variance_per.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance_per+'</td>';              
        }
        else if(value.variance_per.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance_per+'</td>';
        }
        else {
          json_data += '<td>'+value.variance_per+'</td>';
        }
        json_data += '<td>'+value.hours+'</td>';
        json_data += '</tr>';
      });
      json_data += '</tbdoy>';
      
      json_data += '<tbdoy>';
      $.each(data.ssec, function(key, value){
        json_data += '<tr>'
        json_data += '<td>'+value.title+'</td>';
        json_data += '<td>-</td>';
        json_data += '<td>'+value.current+'</td>';
        json_data += '<td>'+value.high+'</td>';
        json_data += '<td>'+value.low+'</td>';
        if(value.variance.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance+'</td>';              
        }
        else if(value.variance.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance+'</td>';
        }
        else {
          json_data += '<td>'+value.variance+'</td>';
        }
        if(value.variance_per.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance_per+'</td>';              
        }
        else if(value.variance_per.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance_per+'</td>';
        }
        else {
          json_data += '<td>'+value.variance_per+'</td>';
        }
        json_data += '<td>'+value.hours+'</td>';
        json_data += '</tr>';
      });
      json_data += '<thead>';
      json_data += '<tr style="background-color:#F0F0F0">'
      json_data += '<th>상품</th>';
      json_data += '<th>월물</th>';
      json_data += '<th>종가</th>';
      json_data += '<th>고가</th>';
      json_data += '<th>저가</th>';
      json_data += '<th>변동</th>';
      json_data += '<th>변동 %</th>';
      json_data += '<th>시간</th>';
      json_data += '</tr>'
      json_data += '</thead>';
      
      // 실시간 상품
      json_data += '</tbdoy>';
        $.each(data.gold, function(key, value){
        json_data += '<tr>'
        json_data += '<td>'+value.title+'</td>';
        json_data += '<td>'+value.date+'</td>';
        json_data += '<td>'+value.closed+'</td>';
        json_data += '<td>'+value.high+'</td>';
        json_data += '<td>'+value.low+'</td>';
        if(value.variance.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance+'</td>';              
        }
        else if(value.variance.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance+'</td>';
        }
        else {
          json_data += '<td>'+value.variance+'</td>';
        }
        if(value.variance_per.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance_per+'</td>';              
        }
        else if(value.variance_per.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance_per+'</td>';
        }
        else {
          json_data += '<td>'+value.variance_per+'</td>';
        }
        json_data += '<td>'+value.hours+'</td>';
        json_data += '</tr>';
      });
      json_data += '</tbdoy>';
      
      json_data += '</tbdoy>';
        $.each(data.wti, function(key, value){
        json_data += '<tr>'
        json_data += '<td>'+value.title+'</td>';
        json_data += '<td>'+value.date+'</td>';
        json_data += '<td>'+value.closed+'</td>';
        json_data += '<td>'+value.high+'</td>';
        json_data += '<td>'+value.low+'</td>';
        if(value.variance.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance+'</td>';              
        }
        else if(value.variance.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance+'</td>';
        }
        else {
          json_data += '<td>'+value.variance+'</td>';
        }
        if(value.variance_per.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance_per+'</td>';              
        }
        else if(value.variance_per.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance_per+'</td>';
        }
        else {
          json_data += '<td>'+value.variance_per+'</td>';
        }
        json_data += '<td>'+value.hours+'</td>';
        json_data += '</tr>';
      });
      json_data += '</tbdoy>';
      
      json_data += '<thead>';
      json_data += '<tr style="background-color:#F0F0F0">'
      json_data += '<th>종목</th>';
      json_data += '<th>종목</th>';
      json_data += '<th>현재가</th>';
      json_data += '<th>고가</th>';
      json_data += '<th>저가</th>';
      json_data += '<th>변동</th>';
      json_data += '<th>변동 %</th>';
      json_data += '<th>시간</th>';
      json_data += '</tr>'
      json_data += '</thead>';
      // 달러
      json_data += '</tbdoy>';
        $.each(data.usdkrw, function(key, value){
        json_data += '<tr>'
        json_data += '<td>'+value.title+'</td>';
        json_data += '<td>'+value.event+'</td>';
        json_data += '<td>'+value.current+'</td>';
        json_data += '<td>'+value.high+'</td>';
        json_data += '<td>'+value.low+'</td>';
        if(value.variance.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance+'</td>';              
        }
        else if(value.variance.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance+'</td>';
        }
        else {
          json_data += '<td>'+value.variance+'</td>';
        }
        if(value.variance_per.charAt(0) == '+'){
          json_data += '<td style="color:red">'+value.variance_per+'</td>';              
        }
        else if(value.variance_per.charAt(0) == '-'){
          json_data += '<td style="color:blue">'+value.variance_per+'</td>';
        }
        else {
          json_data += '<td>'+value.variance_per+'</td>';
        }
        json_data += '<td>'+value.hours+'</td>';
        json_data += '</tr>';
      });
      json_data += '</tbdoy>';
      $('#table_id').html(json_data);
    });
  });
</script>